.App {
	display: flex;
	max-height: 642px;
	overflow-y: auto;
}

table {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-collapse: collapse;
}

thead th {
	position: sticky;
	top: 0;
	background-color: #cccccc;
}

tbody>.highlightable:hover {
	background-color: #e59f9b;
	cursor: pointer;
}

th,
td {
	padding: 10px 35px;
	text-align: left;
}

td {
	border-bottom: 1px solid #cccccc;
	font-size: 12px;
}

.highlightable {
	text-transform: uppercase;
	font-weight: bold;
}

.row-selected {
	background-color: #d0433c;
	color: #ffffff;
}

.details-title {
	font-size: 16px;
	font-weight: bold;
}

.details-line {
	line-height: 25px;
}

.user-details-wrapper {
	display: flex;
}

.user-details-wrapper div {
	flex: 1;
}

button {
	border: none;
	padding: 10px 15px;
	cursor: pointer;
}

.btn-delete {
	background-color: #d0433c;
	color: #ffffff;
}

.mr-15 {
	margin-right: 15px;
}