body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}